{% extends "index.html" %}
{% load staticfiles %}

{% block indexOptions %}
<div>We are driven by the idea that <span class="change">small changes make a difference</span> in the world. ADD TEXT ABOUT FOOD WASTE IN THE US.</div>
<div>TopShelf is a new way to manage your kitchen and your meals.
    Simply log in the ingredients that you have, and pick a few ingredients you want to use up.
    <span class="change">We'll find recipes for you</span> using the food you already have at home.
    Have a friend coming over with a <span class="change">special diet or allergies?</span> Need an awesome brunch recipe? No worries. <span class="change">TopShelf can will handle that</span>.    <span class="change">Sign up now to rediscover your kitchen.</span>
</div>
{% endblock %}